@import 'src/styles/media-screen-breakpoints.scss';
@import 'src/styles/style-variables.scss';

.LoginPage {
  width: 100vw;
  height: 100vh;
  &__inner {
    display: flex;
    flex-direction: column;
    padding-top: 30px !important;
    @include MedM {
      flex-direction: row-reverse;

    }
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
    font-family: $font-heading;
    color: $color-darkblue;
    margin-bottom: 20px;
  }
  &__description-title {
    margin-bottom: 10px;
  }
  &__description-list {
    max-width: 500px;
  }
  &__description-unit {
    margin-bottom: 5px;
    &::before {
      content: '';
      height: 6px;
      width: 6px;
      background: #ef7088;
      display: inline-block;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 6px;
      position: relative;
      top: -2px;
    }
  }
  &__group-text {
    @include MedM {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 40px;
      width: 50%;
    }
  }
  &__bottom {
    background-image: url('./Hello.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 100%;
    max-width: 500px;
    background-size: 100% auto;
    height: calc(100vw * 0.75);
    max-height: 400px;
    align-self: center;
    margin-top: 10px;
  }
  .VKButton {
    margin-top: 20px;
    align-self: start;    
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
  }
}