@import "../../styles/styles.scss";

.GoalsList {
    max-width: 700px;
    margin: 0 auto;
    .GoalItem {
        margin-bottom: 5px;
        padding: 10px 20px;
        background-color: $color-white;
        border-radius: $size-radius;
        color: $color-darkgrey;
    }
}