@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu:700&display=swap&subset=cyrillic');

$color-darkblue: #051D4D;
$color-lightpink: #FFEDEE;
$color-white: #fff;
$color-darkgrey: #333;

$font-heading: 'Ubuntu', sans-serif;
$font-text: 'Open Sans', sans-serif;

$size-radius: 5px;

* {
    font-family: $font-text;
    margin: 0;
    padding: 0;
}

body {
  //background-color: $color-lightpink;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  //font-size: 20px;
}

.page-content {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  padding: 30px;
}

