$color-darkblue: #051D4D;
$color-lightpink: #EED5D5;
$color-pink: #F27088;
$color-darkpink: #ef7088;
$color-white: #fff;
$color-darkgrey: #333;
$color-midgrey: #bebebe;
$color-green: #6BAC8F;
$color-palegreen: #a7dccf;
$color-lightblue: #7fadf2;

$font-heading: 'Ubuntu', sans-serif;
$font-text: 'Open Sans', sans-serif;

$size-radius: 5px;