@import 'src/styles/style-variables.scss';

.GoalPage {
  &__inner {
    max-width: 600px;
    margin: 10px auto 0px;
  }
  &__delete-button {
    display: inline-block;
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: $size-radius; 
    box-sizing: border-box;
    margin-top: 30px;
  }  
  .SocialMediaShareButton {
    display: flex;
    align-items: center;
  }
  &__title {
    font-size: 20px;
  }
  .image--centered {
    max-width: 80px;
  }
}