@import 'src/styles/style-variables.scss';

.Header {

  &__inner {
    background-color: $color-darkblue;
    padding: 12px 20px;
    text-align: center;
  }

  &__logo {
    text-decoration: none;
    color: $color-white;  
    font-family: $font-heading;
  }

  &__breadcrumbs {
    position: relative;
    padding-top: 7px; 
    padding-bottom: 7px;
    background-color: $color-lightpink;
    color: $color-darkblue;
    text-align: center;
  }

  &__back-button {
    position: absolute;
    left: 10px;
    font-size: 14px;
  }
}