@import 'src/styles/media-screen-breakpoints.scss';
@import 'src/styles/style-variables.scss';

.MainPage {
  &__inner {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    @include MedM {
    }
  }
  &__goal-wrapper {
    margin-bottom: 40px;
  }
  &__goal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__goal-wrapper-title {
    font-size: 20px;
    margin-bottom: 12px;
  }
  &__no-goals-text {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 20px;
  }
  &__no-goals-image.image--centered {
    max-width: 50%;
    @include MedL {
      max-width: 30%;
    }
    // background-repeat: no-repeat;
    // background-position: bottom center;
    // background-size: auto 100%;
    // width: 100%;
    // min-height: 200px;
    // max-height: 300px;
    // margin-bottom: 20px;
    // height: calc(200px + (100vw - 320px)*0.5);
  }
  .GoalRecommended {
    margin-bottom: 10px;
  }
}